div {
    background-color: slategray;
    color: white;
}
.nameTam{
    background-color: aquamarine;
    color: black;
}
.div_page1 {
  background-color: yellow;
}
.h1_page1 {
  color: red;
  font-size: 24px;
}
.lau {
    background-color: rgb(122, 189, 255);
    color: rgb(0, 4, 253);
=======
.miyaDiv{
  background-color: orange;
  color: black;
}