div {
    background-color: rgb(10, 121, 231);
    color: rgb(192, 17, 17);
}
.manabe{
    background-color: rgb(12, 129, 247);
    color: white;
}

#page1 {
    background-color: #00ff00;
    color: white;
}
